
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro';
}
.tamanho-maximo{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
/*=== Seção topo ===*/
.topo {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
}
.links-topo{
    display: flex;
    font-size: 16px; 
    text-transform: uppercase; 
    
        
}
.link-topo{
    padding: 15px;
}
.link-topo, .titulo{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 15px;
    
}
.titulo{
    font-size: 24px;
}
.texto-azul{
    color: #7698BB;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

}
/*=== Seção banner ===*/
.banner{
    background-image: url('../assets/img-fundo.jpg');
    background-size: cover;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-banner{ 
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 80%;
    max-width: 400px;
    text-align: center;
    line-height: 60px;
    padding: 20px 1px;
    background-color: #009980ad;  
}
h1{
    font-size: 40px;
}
.info-banner p{
    font-size: 22px;
}
/*=== Seção conteúdo ===*/
.conteudo{
    width: 100%;
    max-width: 1024px;
    margin: 20px auto;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    color: #333;
    line-height: 40px;    
}
.conteudo h3 {
    text-transform: uppercase;
    color: #333;
    font-size: 32px;
    font-weight:normal;
}
h4{
    color: #333;
    font-weight: bold;
}
h3, h4{
    padding-top: 42px ;
    padding-bottom: 20px ;
}
.conteudo p{
    line-height: 32px;
}
/*=== Seção quartos ===*/
.quartos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.quarto{
    border-bottom: 2px solid #49997C;
    margin: 15px;
    width: 300px;
    height: 280px;
      
}
.quarto img{
    width: 300px;
    height: 200px;   
}
.quarto a{
    text-decoration: none;
    color: #333;
}
.quarto a p{
    text-align: center;
    margin: 20px;
}
/*=== Seção descrições ===*/
.descricoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    position: relative;
}
.descricao {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: 10px 10px;
    align-items: center;
    justify-content: space-between;
    

  
  }
  
  .descricao-img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left:10px;
    
  }


/*=== Seção Rodapé ===*/
.rodape {
    background-color: #49997d;
    color:#fff;
    flex-wrap: wrap;
  }
  
  .rodape h4 {
    font-size: 22px;
    color: #fff;
    
  }
  
  .rodape-container {
    display: flex;
 
    justify-content: space-between;
   
    
  }
  
  .rodape-info {
    width: 23%;
    display: flex;
    align-items: center;
    
  }
  
  .rodape-link{
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    
  }
  
  .rodape-icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .rodape-info a{
    text-decoration: none;
    color: #fff;
  }
.rodape-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3b7863;
    color: #fff;
    font-weight: 600;
    width: 100%;
  }
 